{
        "Testing": {
                "slacktoken": "XXXXXXXXXXXXXXXXXX",
                "fbtoken": "SomethingBigFromTheFBGraphExplorerUI",
                "pages": {
                        "NYTimes": "nytimes",
                        "Vox": "vox"
                }
        }
}
